<h1> Présence prévisionnelle pour <%= User.find_by_id(@roster.user_id).email %> </h1>

<% if Jour.find_by_roster_id(@roster.id).nil?%>
    <h2>Aucune date sélectionnée pour la séance.</h2>
<% end %>
  <legend>Votre SPA : </legend>
  <%= button_to "Cliquez ici si vous ne venez pas",roster_nevientpas_path(@roster),:method=>:put %>

  <%= render 'form' %>

