<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>SPA pour le sapeur <%= @user.name %></h1>
    <p>
      Bonjour,<br/>
      Merci de rendre compte de votre présence pour la mission <%= @description %> <br/>
    </p>
    <p>
      Lien : <%= @url %>.
    </p>
    <p>53ème compagnie</p>
  </body>
</html>